{% extends "layouts/default.twig" %}

{% block content %}

    <section id="home-page">
        <div class="home-page-container container text-center">
            <main role="main" class="inner cover">
                <h1 class="font-weight-bolder">Riddle</h1>
                <img src="/public/assets/img/svg/about.svg" class="img-fluid mt-5" alt="Responsive image" width="30%">
                <h2 class="font-weight-bold mt-3">Des gens bien et exigeants</h2>
                <p class="mb-4 mt-3">
                    Nous avons lancé Riddle avec un objectif en tête : pouvoir s'amuser de façon simple, rapide et
                    sécurisée avec quelque chose d'accessible partout, la plateforme Web.
                </p>
                <img src="/public/assets/img/svg/going_up.svg" class="img-fluid mt-1" alt="Another responsive"
                     width="30%">
                <h2 class="font-weight-bold mt-3">Toujours à la pointe</h2>
                <p class="mb-4 mt-3">
                    Nous sommes convaincus que la technologie (le cloud, le mobile, les plateformes web…) n'est pas une
                    fin en elle-même, mais un moyen de se simplifier la vie dans tout les domaines et même les jeux de
                    pistes.
                    <br>
                    C'est aussi comme cela que nous envisageons les aventures : elles ne doivent pas être un gadget, et
                    surtout, il ne doit pas vous rendre dépendant d’un plan, d’une personne, d’un organisme… Les
                    aventures doivent être créées par une communauté engagée et disponible n’importe où.
                </p>
                <img src="/public/assets/img/svg/support.svg" class="img-fluid mt-1" alt="Another one" width="30%">
                <h2 class="font-weight-bold mt-3">En constante évolution</h2>
                <p class="mt-4 mb-4 font-weight-bold">
                    C'est pourquoi les choix que fait Riddle sont motivés par le bon sens et son ambition d’universalité
                    de partage et de confiance : pour tous.
                </p>
                <h2 class="font-weight-bold mt-3">Une interface à
                    votre image, pour
                    toutes vos enigmes. </h2>
                <p>Riddle est une alternative aux jeux de pistes plus traditionnels pour tous ceux qui veulent un design
                    innovant, et une interface accessible partout, pour suivre toutes ses aventures d’un coup d’œil et
                    de pouvoir créer de nouvelles aventures en quelques clics ! Plus claire, son interface est
                    personnalisable. Les aventures peuvent être différenciés et illustrés avec des photos pour être plus
                    beaux et mieux organisés </p>

            </main>
        </div>
    </section>

    {% include "layouts/footer.twig" %}

{% endblock %}