{% extends "layouts/default.twig" %}

{% block content %}

    <section id="forgotten-password" class="bg-light mt-5" >
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="font-weight-bold">Mot de passe oublié ?</h1>
                    <h2 class="text-sm-left">Pas de panique ! On se charge de tout</h2>
                    <p>Renseigne ici ton adresse mail. Un mail te sera envoyé pour réinitialiser ton mot de passe.</p>
                    <form class="mt-2" method="post" action="{{route('user.send')}}">
                        <fieldset>
                            <label for="mail" class="font-weight-bold">Votre email</label>
                            <input type="email" class="form-control" name="mail" id="mail" placeholder="Adresse mail du compte" size="30" /><br />
                            <input type="submit" class="btn btn-yellow-square" value="Envoyer !" />
                        </fieldset>
                    </form>
                    <br>
                    <small class="form-text text-muted">Tu a retrouver ton mot de passe ? <a href="{{ route('user.connect') }}" class="text-yellow">Connexion</a></small>
                </div>
                <div class="col-12 col-md-6">
                    <img src="/public/assets/img/svg/forgotten-password.svg" alt="forgotten-password">
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script src="/public/assets/js/form-validator.js"></script>
{% endblock %}