{% extends "layouts/default.twig" %}

{% block content %}

    <section id="website-registration" class="bg-light" style="background-image: url('/public/assets/img/svg/skate-ride.svg')">
        <div class="card shadow form-box border-0">
            <div class="card-body">
                <div class="card-title mb-4">
                    <h1>Crée un compte ou connecte toi  pour pouvoir accéder au parcours ! </h1>
                    <h2>Cela prend que quelques secondes et promis tes données personnelles sont entre de bonnes mains  ;)</h2>
                </div>
                <div class="card-texte">
                    <form id="loginForm" method="POST" action="">

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Pseudo</label>
                                    <input type="text" name="pseudo" id="pseudo" class="form-control  {% if error.name %}input-error{% endif %}" placeholder="Comment veux-tu être appelé ?">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Date de naissance</label>
                                    <input type="date" name="birthdate" id="birthdate" class="form-control  {% if error.birthdate %}input-error{% endif %}" placeholder="Quand est-tu né ?">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Addresse mail</label>
                            <input type="email" name="email" id="email" class="form-control  {% if error.email %}input-error{% endif %}" placeholder="Quelle est ton addresse mail ?">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control {% if error.password %}input-error{% endif %}" placeholder="Choisis un mot de passe pour sécuriser ton compte">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirmation de mot de passe</label>
                            <input type="password" name="password2" id="password2" class="form-control {% if error.password2 %}input-error{% endif %}" placeholder="Confirme ton mot de passe">
                        </div>
                        <div class="mt-4 submit-box">
                            <button type="submit" class="btn btn-yellow-square mx-auto d-block">C'est parti !</button>
                            <small id="emailHelp" class="form-text text-muted">Déjà un compte ? Accède à la page de <a href="{{ route('user.connect') }}" class="text-yellow">connection</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}