{% extends "account/layouts/default.twig" %}


{% block account %}



        <div class="overflow-hidden">
            <a href="{{ route('account.course.create') }}" class="btn btn-yellow-square mb-3 float-right">
                <i class="fa-solid fa-plus"></i>
                Nouveau parcours
            </a>
            <div class="embed-responsive embed-responsive-4by3 ">
                <iframe class="embed-responsive-item" src="{{ route('account.course.list') }}" height="800px" width="100%" title="Iframe Example"></iframe>
            </div>
        </div>


{% endblock %}