{% extends "layouts/default.twig" %}

{% block content %}


    <section id="home-page">
        <div class="home-page-container container mb-5">

            <div class="row">
                <div class="col-12 col-md-6 mt-auto mb-auto">
                    <h1 class="font-weight-bold">Bienvenue Riddle !</h1>
                    <span class="">La plateforme d'énigme unique en son genre</span>
                    <p class="mb-4 mt-3">Tu t'ennuies ? Ou tu veux passer un bon moment seul ou entre pôtes ? Tu es clairement au bon endroit. Ici, tu retrouveras toutes les meilleures enigmes créés par une communauté d'exection. Tu peux même devenir auteur à ton tour ! Alors, n'hesite pas à y jeter un coup d'oeil.  </p>
                    <a href="{{ route('parcours.index') }}" class="btn btn-yellow">Commencer</a>
                </div>
                <div class="col-12 col-md-6 ">
                    <img class="m-3" src="/public/assets/img/svg/welcome-riddle.svg" width="100%">
                </div>
            </div>

        </div>


    </section>



{% endblock %}