{% extends "layouts/default.twig" %}

{% block content %}


    <section id="home-page">
        <div class="home-page-container container mb-5">

            <div class="row">
                <div class="col-12 col-md-6 mt-auto mb-auto">
                    <h1 class="font-weight-bolder">Bienvenue Riddle !</h1>
                    <h2 class="font-weight-bold">La référence pour les énigmes entre proches ou tout seul !</h2>
                    <p class="mb-4 mt-3">Tu t'ennuies ? Tu veux passer un bon moment seul ou entre potes ? Tu es clairement au bon endroit. Ici, tu retrouveras toutes les meilleures énigmes créées par une communauté d'exception. Tu peux même devenir auteur à ton tour ! Alors, n'hésite pas à y jeter un coup d'œil.</p>
                    <h2 class="font-weight-bold">Une interface à
                        votre image, pour
                        toutes vos enigmes. </h2>
                    <p class="mb-4 mt-3">Riddle est une alternative aux jeux de pistes plus traditionnels pour tous ceux qui veulent un design innovant, et une interface accessible partout, pour suivre toutes ses aventures d’un coup d’œil et de pouvoir créer de nouvelles aventures en quelques clics ! Plus claire, son interface est personnalisable. Les aventures peuvent être différenciés et illustrés avec des photos pour être plus beaux et mieux organisés </p>

                    <a href="{{ route('course.index') }}" class="btn btn-yellow">Commencer</a>
                </div>
                <div class="col-12 col-md-6 ">
                    <img class="m-3" src="/public/assets/img/svg/welcome-riddle.svg" width="100%">
                </div>
            </div>

        </div>


    </section>
{% endblock %}
