<!DOCTYPE html>

<html>

    <head>
        <title>Riddle - Parcours & Enigmes</title>

        <!-- viewport  -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />


        <!-- Loading of gobal stylesheet  -->
        <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/public/assets/css/style.css" rel="stylesheet"/>
        <link href="/public/assets/css/drawer.css" rel="stylesheet"/>


        <!-- Loading of fontawesome stylesheet  -->
        <link href="/public/assets/fontawesome/css/all.css" rel="stylesheet"/>

    </head>

    <body class="bg-light">


        {% include 'layouts/navbar.twig' %}


        {{ block('content') }}

        <script src="/public/assets/js/jquery.slim.min.js"></script>
        <script src="/public/assets/js/bootstrap.bundle.js"></script>
    </body>

</html>