<footer class="bg-light text-center text-white mt-auto bottom">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(255, 166, 38);">
        © 2022 Copyright:
        <a class="text-white"> Riddle.com</a>
    </div>
    <!-- Copyright -->
</footer>