{# Préchargement des images pour diminuer leur temps de chargement #}

<div class="cache-image-loader">

    <!-- Logo Riddle -->
    <img src="/public/assets/img/logo-riddle.png" alt=""/>

    <!-- Parcours -->
    <img src="/public/assets/img/jpg/parcours/image-1.jpg" alt=""/>
    <img src="/public/assets/img/jpg/parcours/image-2.jpg" alt=""/>
    <img src="/public/assets/img/jpg/parcours/image-3.jpg" alt=""/>
    <img src="/public/assets/img/jpg/parcours/image-4.jpg" alt=""/>
    <img src="/public/assets/img/jpg/parcours/image-5.jpg" alt=""/>
    <img src="/public/assets/img/jpg/parcours/image-6.jpg" alt=""/>

    <!-- Users -->
    <img src="/public/assets/img/jpg/users/portrait-1.jpg" alt=""/>
    <img src="/public/assets/img/jpg/users/portrait-2.jpg" alt=""/>
    <img src="/public/assets/img/jpg/users/portrait-3.jpg" alt=""/>

    <!-- SVG pictures -->
    <img src="/public/assets/img/svg/finished-line.svg" alt=""/>
    <img src="/public/assets/img/svg/forgotten-password.svg" alt=""/>
    <img src="/public/assets/img/svg/reset-password.svg" alt=""/>
    <img src="/public/assets/img/svg/skate-ride.svg" alt=""/>
    <img src="/public/assets/img/svg/welcome-riddle.svg" alt=""/>
    <img src="/public/assets/img/svg/yoga.svg" alt=""/>


</div>