# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\IMANI Houssam\Documents\INGENIEUR_CNAM\S4\developpement-web\projet-web-enigmes\Test-dev\riddle-v3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
