{% extends "layouts/default.twig" %}

{% block content %}

    <section id="home-page">
        <div class="home-page-container container text-center">
            <main role="main" class="inner cover">
                <h1 class="font-weight-bolder">Jouer à </h1>

            </main>
        </div>
    </section>

    {% include "layouts/footer.twig" %}

{% endblock %}