{% extends "layouts/default.twig" %}

{% block content %}

    <script src="/public/assets/js/stopwatch/stopWatch.js"></script>

    <div class="home-page-container container text-center">

        <div class="row">
            <div class="col-sm-6">
                <h1> Répondez aux énigmes ! </h1>
                <span>Vous pouvez vous aider avec les indices.</span>
            </div>
            <div class="col-sm-6">
                <h1>Chronomètre</h1>
                <h3>
                    <span id="hour">00</span> :
                    <span id="min">00</span> :
                    <span id="sec">00</span> :
                    <span id="milisec">00</span>
                </h3>
                <form action="{{ route('course.play') }}" method="post">
                    <input type="hidden" class="form-control" id="idCourse" name="idCourse" value="{{ id }}">
                    <button onclick="start()" id="start" name="start">Start</button>
                    <button onclick="stop()" id="stop" name="end">Stop</button>
                    <input type="text" name="reponse"/>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <form action="{{ route('course.play') }}" method="post">

                </form>
            </div>

        </div>
    </div>

{% endblock %}


