{% extends "layouts/default.twig" %}

{% block content %}
    <script src="/public/assets/js/stopwatch/stopWatch.js"></script>
    <form action="{{ route('course.play') }}" method="post">
        <input type="hidden" class="form-control" id="idCourse" name="idCourse" value="{{ id }}">
        <div id="container">
            <span id="counter">

            </span>
            <button type="submit" name="commencer" value="start" id="start">Start Counter</button>
            <input type="text" name="reponse"/>
            <input type="submit" name="envoyer" value="envoyer"/>
            <button type="submit" name="terminer" value="stop" id="stop">Stop Counter</button>
    </form>

{% endblock %}

