{% extends "layouts/default.twig" %}

{% block content %}

    <script src="/public/assets/js/stopwatch/stopWatch.js"></script>

    <h1>
        <span id="hour">00</span> :
        <span id="min">00</span> :
        <span id="sec">00</span> :
        <span id="milisec">00</span>
    </h1>

    <form action="{{ route('course.play') }}" method="post">
        <input type="hidden" class="form-control" id="idCourse" name="idCourse" value="{{ id }}">
        <input type="button" name="commencer" value="start" id="start" onclick="start()">Start Counter</input>
        <button onclick="start()" id="start">Start</button>
        <button onclick="stop()" id="stop">Stop</button>

    </form>
{% endblock %}


