<h1>Timer</h1>

<br>

<form action="{{ route('course.play') }}" method="post">
    {#
    <label for="answer">Donne ta réponse</label>
<input type="text" id="answer" name="answer"/> #}

    <input type="submit" name="stop" value="stop"/>

</form>
